{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},

	"parserOptions": {
		"sourceType": "module"
	},

	"extends": ["eslint:recommended"],

	"rules": {
		"indent": ["error", 4],
		"linebreak-style": 0,
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"no-unused-vars": ["warn"],
		"no-console": 0
	}
}